.beans-logo {
  position: relative;
  display: inline-block;
}

.beans-logo_bg-black.beans-logo::before, .beans-logo_bg-black.beans-logo::after{
  background-color: black;
}

.beans-logo::before, .beans-logo::after{
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  position: absolute;
  top: 35%;
  background-color: white;
}

.beans-logo::before {
  left: 60px;
}

.beans-logo::after {
  right: 60px;
}

.beans-logo-pic {
  width: 38px;
  height: 38px;
}

