.header {
  display: flex;
  align-items: end;
  position: absolute;
  top: 15px;
  left: -150px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

@media screen and (max-width: 960px) {
  .header {
    left: 20px;
  }
}