.nav {
  color: white;
}

.nav_black {
  color: black;
}

.nav__list {
  display: flex;
  align-items: end;
  list-style: none;
}

.nav__item {
  margin-right: 40px;
}

.nav__item a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.nav_black .nav__item a:hover {
  color: rgba(0, 0, 0, .5);
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}